travel-new-destination {
  .container-destinations {
    padding: 16px;
    width: 100%;
  }
  .title-modal {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.5em;
  }
  .destination-row {
    margin-bottom: 0.5em;
  }
  .btn-action {
    min-height: 60px;
    height: unset !important; // FIX: height .button-md.
    padding: 16px 12px;
    margin: 0;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    border-radius: 3px;
    text-transform: unset !important; // FIX: text-transform .button-md.

    .btn-container {
      width: 100%;

      .btn-wrapper {
        padding: 0;
        display: flex;
        align-items: start;
        width: 100%;
      }
      .btn-text {
        margin: 0;
        width: 100%;
        text-align: left;
        line-height: 1.2;
        span { white-space: normal; }
      }
      .btn-icon {
        margin-right: 10px;
        height: 30px;
        width: 30px;
      }
      .text-bold {
        font-weight: 600;
      }
      .text-regular {
        font-weight: 400;
      }
    }
  }
  .next-destination {
    background: #F8DEF0;
    box-shadow: rgba(0, 0, 0, 0.16);
    width: 100%;
  }
  .next-destination.button-md.activated{
    background: rgb(214, 161, 198)!important;
  }

  .next-destination-footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 16px;
    // background: color($colors, light);
    border-top: solid 1px #eee;
    button {
      // background-color: color($colors, secondary);
      // color: color($colors, light);
      margin: 0;
    }
    &::before { content: none; }
  }
}
