<ion-content class="no-scroll">
  <ion-grid class="container">
    <h2>{{ 'travel_add_toll.label_add_toll' | translate }}</h2>
    <ion-row class="form-container">
      <form [formGroup]="formToll">

        <!-- Nombre -->
        <div class="input-form">
          <ion-item no-lines>
            <ion-input placeholder="{{ 'travel_add_toll.label_form_name' | translate }} *" type="text" formControlName="nameToll" (ionChange)="updateView()"></ion-input>
          </ion-item>
          <div class="help-text">
              <span>{{ 'travel_add_toll.label_form_name_example' | translate }}</span>
            <ng-container *ngTemplateOutlet="nameError"></ng-container>
          </div>
        </div>

        <!-- Monto -->
        <div class="input-form">
          <ion-item no-lines class="leading-icon">
            <ion-input placeholder="{{ 'travel_add_toll.label_form_amount' | translate }} *" type="number" formControlName="priceToll" (ionChange)="updateView()"></ion-input>
          </ion-item>
          <div class="help-text">
            {{ 'travel_add_toll.label_form_ammount_example' | translate }}
            <ng-container *ngTemplateOutlet="priceError"></ng-container>
          </div>
        </div>

        <!-- Foto -->
        <div class="input-form">

          <button class="button-upload-attach" *ngIf="!imageBase64" (click)="takePicture()">
            <ion-icon ios="ios-cloud-upload" md="md-cloud-upload" class="icon-upload"></ion-icon>
            {{ 'travel_add_toll.label_form_ticket' | translate }}
          </button>

          <div *ngIf="imageBase64" class="container-uploaded-images">
            <div class="img-container">
              <img class="uploaded-image" [src]="sanitize(imageBase64)">
              <span class="delete-image" (click)="deletePicture()"><ion-icon name="trash" class="delete-icon"></ion-icon></span>
            </div>
          </div>

          <div class="help-text">
            <span>{{ 'travel_add_toll.label_form_ticket_example' | translate }}</span>
          </div>

        </div>

      </form>
    </ion-row>
    <ion-row class="buttons">
      <button class="btn" (click)="cancelNewToll()">
        {{ 'travel_add_toll.label_button_cancel' | translate }}
      </button>
      <button class="btn primary" (click)="saveNewToll()" [disabled]="!formToll.valid">
        {{ 'travel_add_toll.label_button_save' | translate }}
      </button>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- ERROR MESSAGES -->
<ng-template #nameError>
  <ng-container *ngIf="!nameToll.valid  && (nameToll.dirty || nameToll.touched)">
    <div class="msg-error">
      <span *ngIf="nameToll.errors?.pattern">{{ 'travel_add_toll.errors_name.pattern' | translate }}</span>
      <span *ngIf="nameToll.errors?.required">{{ 'travel_add_toll.errors_name.required' | translate }}</span>
      <span *ngIf="nameToll.errors?.maxlength">{{ 'travel_add_toll.errors_name.maxlength' | translate }}</span>
    </div>
  </ng-container>
</ng-template>

<ng-template #priceError>
  <ng-container *ngIf="!priceToll.valid  && (priceToll.dirty || priceToll.touched)">
    <div class="msg-error">
      <span *ngIf="priceToll.errors?.pattern">{{ 'travel_add_toll.errors_amount.pattern' | translate }}</span>
      <span *ngIf="priceToll.errors?.required">{{ 'travel_add_toll.errors_amount.required' | translate }}</span>
      <span *ngIf="priceToll.errors?.maxlength">{{ 'travel_add_toll.errors_amount.maxlength' | translate }}</span>
    </div>
  </ng-container>
</ng-template>
<!-- END ERROR MESSAGES -->
