page-travel-confirm {

  .scroll-content {
    overflow-y: hidden !important;
  }

  ion-scroll.scroll-y .scroll-content {
    height: calc(100px + 5%);
    overflow-y: auto !important;
  }
  .destinations-row {
    height: calc(100px + 2%);
    width: 100%;
  }

  .header-md::after {
      background-image: unset;
  }

  .header .toolbar-background {
   // background: color($colors, primary) !important;
  }

  .title {
   //   color: color($colors, light);
      display: block;
      font-size: 2rem;
      font-weight: 500;
      text-align: center;
  }

  .toolbar-title {
      padding-right: 0 !important;
  }

  ion-title {
      padding: 0 !important;
  }

  .edit-button{
    display: flex;
    align-items: center;
    justify-content: center;
   // background: color($colors, primary);
   // color: color($colors, light);
    border-radius: 50%;
    position: absolute;
    bottom:2px;
    left:45px;
    width: 22px !important;
    height: 22px !important;
  }

  .affiliate-wrapper {
    padding: 5px 16px;
    background: #E9F6F4;
    border-bottom: solid 1px;
    //color: color($colors, primary);

    img {
      height: 20px;
    }
    span {
      margin-left: 0.5em;
      line-height: 20px;
      vertical-align: middle;
      font-weight: bold;
    }
  }

  .passenger-wrapper {
      margin-top: 10px;
      margin-bottom: 0;
   //   border-bottom: 1px solid color($colors, secondary);
      padding-bottom: 10px;
      position: relative;

      .passenger-wrapper-text {
        padding: 0 5px;
        overflow: hidden;
      }

      .passenger-avatar {
        margin-left: 10px;
        height: 55px;
        width: 55px;
        border-radius: 50%;
        display: block;
      }

      .passenger-name {
        font-size: 1.7rem;
        font-weight: 500;
        width: calc(100% - 60px);
        white-space: nowrap;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .travel-number {
        font-size: 1.25rem;
        font-weight: unset;
      }

      .cancel-travel-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        background-color: #d80000;
        color: #fff !important;
      }
  }

  /* Travel Container */
  .overflow-row {
    width: 100%;
    height: auto;
    max-height: calc(100px + 2%);
    overflow: auto;

    .container-trip {
      width: 100%;
      display: block;

      .trip-col {
        position: relative;
        display: block;
        padding: 0 16px;

        .travel-label {
          margin: 0;
          padding: 0;
          font-size: 13px;
          position: relative;
          display: flex;
          align-items: center;

          .trip-detail {
            margin: 0;
            width: calc(100% - 20px);
            display: inline-block;
            vertical-align: top;
            padding: 13px 0;
            margin-left: 10px;
            max-width: 92%;
            border-bottom: 1px solid #EEEEEE;
          }
          small {
            font-size: 12px;
            color: #888;
            display: block;
          }
          span {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .travel-origin-label,
        .travel-waypoint-label {
          padding: 0;
          overflow: visible;
        }
        .travel-origin-label:after,
        .travel-waypoint-label:after {
          content: '';
          width: 1px;
          height: 22px;
          position: absolute;
          bottom: -9px;
          left: 4px;
          border-left: dotted 4px #aaa;
        }
        .current-destination {
          font-weight: 600;
        //  color: color($colors, secondary);;
        }
        .icon-trip {
          font-size: 14px;
          font-weight: 700;
          width: 16px;
          text-align: left;
          display: inline-block;
          vertical-align: middle;
        }
        .icon-visited {
          font-size: 15px;
        }
        .icon-current {
          height: 15px;
          width: 15px;
          margin-left: -2px;
        }

        .travel-destination-label {
          .icon-trip {
            font-size: 16px;
            margin-left: 1px;
          }
        }
      }
    }

    //@include shadow-in-overflow;

  } // End destinations-row.

  .title-label {
      margin-left: 10px;
      float: none;
      color: #FFFFFF;
  }

  .note-label {
      margin-left: 35px;
  }

  .note-content {
      height: 13rem;
      padding: 0;
      margin-bottom: 16px;
      z-index: 0;
      p {
          margin-top: 0;
          padding-left: 35px;
          padding-right: 35px;
      }
  }

  .estimate-label {
      font-size: 4vw;
     // color: color($colors, dark-soft);
      margin: 0;
  }
  .estimate-import {
      font-weight: 600;
      font-size: 5vw;
      margin: 0 0 8px 0;
  }
  .estimate-time {
    //  color: color($colors, dark);
      font-weight: 600;
  }
  .travel-pickup-value {
    font-weight: 600;
    font-size: 5vw;
    margin: 0 0 8px 0;
    line-height: 25px;

    img {
      height: 25px;
      vertical-align: middle;
    }
  }
  .travel-pickup-label {
    font-size: 4vw;
   // color: color($colors, dark-soft);
    margin: 0;
  }
  .dark-soft {
  //    color: color($colors, dark-soft);
  }


  .detail-card {
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 1em;

    .detail-card-estimate {
      padding-bottom: 0;
    }
    .detail-card-route {
      padding-top: 0;
    }
    .border-bottom-secondary {
      border-bottom: 1px solid #A63984;
    }
  }

  .detail-card-separator {
    width: 50%;
    background: #A63984;
    border: 0;
    margin-bottom: 0.3em;
    margin-top: 0;
  }

  ion-card {
      box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      ion-label {
          margin: 2px 8px 8px 0 !important;
      }
  }

  .dotted-line {
      position: absolute;
      top: 24px;
      left: 24px;
      height: 17px;
    //  border-left: 1px dashed color($colors, dark-light);
  }

  .travel-origin {
      position: relative;
      padding-left: 20px;
      padding-right: 20px;
      ion-col {
          width: 90%;
      }
      .travel-origin-label {
          margin: 0;
      }
  }

  .travel-destination {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 13px;
      ion-col {
          width: 90%;
      }
      .travel-destination-label {
          margin: 0;
      }
  }

  .travel-origin ion-icon, .travel-destination ion-icon{
      padding-top: 6px;
  }

  .fab-md, .fab-ios{
   //   color: color($colors, secondary) !important;
  }

  .main-buttons-wrapper {
      position: absolute;
      width: 100%;
      bottom: 15px;
  }

  .buttons-wrapper {
    padding: 10px 0;
    background: white;
    //box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.2);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    text-align: center;

    .col {
      padding: 0px;
      width: 100%;;
    }
  }

  .button-positive {
    height: 110px !important;
    font-size: 23px;
  }

  .roundTrip-label {
    display: inline-block;
    margin: 10px 16px 10px 16px;
    width: calc(100% - 32px);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    z-index: 0;
    p {
      margin-top: 0;
      padding-left: 45px;
      padding-right: 35px;
    }
    background: #EDD7E6;
    color: #A63984;
    font-size: 13px;
    border-radius: 20px;
  }



  @media only screen and (max-width: 410px) {
      .main-buttons-wrapper{
          display: block;
          flex-direction: column-reverse;
          display: flex;
          height: 105px;
      }

      .button-col-left button,
      .button-col-right button{
          display: block;
          margin-left: auto!important;
          margin-right: auto!important;
      }
      .button-col-right,
      .button-col-left{
          width: 100%!important;
          padding: 0;
          display: block;
      }
  }

}

