canvas-draw {
  height: 100%;
  width: 100%;
  display: block;

  #top-toolbar {
    position: absolute;
    top: 0;
  }

  #bottom-toolbar {
    position: absolute;
    bottom: 0;
  }

  .canvas-draw {
  //  border: 5px solid color($colors, secondary);
    width: 95%;
    height: 95%;
    margin-top: 3%;
  }
}
